<div class="header clearfix">
  <!-- <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">About</a></li>
      <li role="presentation"><a href="#">Contact</a></li>
    </ul>
  </nav> -->
  <h3 class="">Audio manager</h3>
</div>

<div class="jumbotron">
  <p class="lead">Indicare il sesso o la presenza per ciascun partecipante:</p>
  <br>
  
  <div>
    <div class="row text-center" style="margin-bottom: 10px;">
      <div class="col-xs-2"> &nbsp;</div>
      <div class="col-xs-3">Maschio</div>
      <div class="col-xs-3">Femmina</div>
      <div class="col-xs-3">Assente</div>
    </div>
  </div>
  <div ng-repeat="i in num">
    <div class="row">
      <div class="col-xs-2 number">
        <h3 class="number">{{$index}}</h3>
      </div>
      <div class="col-xs-3 no-choice" 
           ng-click="setUser($index, 'male')"
           ng-class="{'sex-choice': selection[$index]=='male'}">
        <img src="img/boy.png" height="40">
      </div>
      <div class="col-xs-3 no-choice"
           ng-click="setUser($index, 'female')"
           ng-class="{'sex-choice': selection[$index]=='female'}">
        <img src="img/girl.png" height="40">
      </div>
      <div class="col-xs-3 no-choice"
           ng-click="setUser($index, null)"
           ng-class="{'sex-choice': selection[$index]==null}">
        <img src="img/nessuno.png" height="40">
      </div>
    </div>
    

  </div>
  <br>
  <p>
    <button href="" type="button"
            class="btn btn-success"
            ng-click="sendSelection()">
      Conferma utenti
    </button>
  </p>
</div>