div.no-choice {
	opacity: 0.4;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 7px;
}

div.sex-choice {
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 10px;
	opacity: 1;
}

#ex1Slider {
	width: 100%;
}

.number {
	margin-bottom: 10px;
}

.track {
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 10px;
}

.track-name {
	padding-bottom: 10px;
}

#audiowrap {
	display: none;
}

.playing {
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 10px;
}