<div class="header clearfix">
  <h3 class="">Audio manager</h3>
</div>

<div class="jumbotron">
  <p class="lead">Indica l'et&agrave; media dei partecipanti: <b>{{age}}</b></p>
  <br>
  <p>
    <input id="slider" data-slider-id='ex1Slider' type="text"
           data-slider-min="3" data-slider-max="30"
           data-slider-value="10"
           ng-model="age"/>
    <br>
    <br>
    <button type="button" class="btn btn-success"
            ui-sref="config({age: age})" ui-sref-active="active">
      Conferma et&agrave;
    </button>
  </p>
</div>

<script type="text/javascript">
  var mySlider = $("#slider").slider();
</script>