
<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right text-center">
      <button class="btn btn-success" type="button"
              ng-click="startLoop()"
              ng-hide="loop">
        <h3>Avvia loop</h3>
      </button>
      <button class="btn btn-warning" type="button"
              ng-click="stopTrack()"
              ng-show="loop">
        <h3>Fine loop</h3>
      </button>
      <a class="btn btn-danger" type="button"
         data-toggle="modal" data-target="#myModal">
        <h3>Esci</h3>
      </a>
    </ul>
  </nav>
  <h3>Audio manager</h3>
</div>

<div class="jumbotron">  
  <p class="lead">Tracce audio disponibili: </p>
  <br>
  <!-- il player effettivo del browser -->
  <div class="row">
    <div class="col-xs-12 plList">
      <div id="audiowrap">
        <div id="audio0">
          <audio preload id="audio1" controls="controls">
            Your browser does not support HTML5 Audio!
          </audio>
        </div>
      </div>
    </div>
  </div>
  <!--  lista delle tracce audio eseguibili -->
  <div ng-repeat="track in tracks">
    <div class="row track"
         ng-class="{'playing': playing==$index}">
      <div class="col-xs-7 text-left">
        <h4 class="track-name">{{track.name}}</h4>
      </div>
      <div class="col-xs-2">
        <a href="" ng-hide="playing==$index">
          <img src="img/play.png" height="40"
               ng-click="playTrack($index)">
        </a>
        <a href="" ng-show="playing==$index">
          <img src="img/stop.png" height="40"
               ng-click="stopTrack()">
        </a>
      </div>
      <div class="col-xs-2">
        <a href="">
          <img src="img/restart.png" height="40"
               ng-click="playTrack($index)">
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Vuoi uscire?</h4>
      </div>
      <div class="modal-body">
        <p>Sicuro di voler interrompere l'esecuzione?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Annulla
        </button>
        <a type="button" class="btn btn-danger" data-dismiss="modal" href="/main">
          Esci
        </a>
      </div>
    </div>

  </div>
</div>
