<div class="header clearfix">
  <h3 class="">Audio manager</h3>
</div>

<div class="jumbotron">
  <p class="lead">
    Tramite questa app è possibile avviare il sistema di gestione dell'installazione.
  </p>
  <br>
  <p class="d-line">
    <a href="" ui-sref="age">
      <img src="img/bpm.png" class="img-fluid " width="50%">
      <p></p>
      <button type="button" class="btn btn-success">
        Avvia il sistema!
      </button>
    </a>
    
  </p>
</div>